.cityName {
	@include card;

	&_title {
		@include card_title;
		padding-bottom: 30px;
	}

	&_grid_contain {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include grid_template;
		text-align: center;
	}

	&_city {
		font-size: 25px;
		font-weight: 800;
		letter-spacing: 0.5px;
		padding-bottom: 10px;
		color: $darkBlue;
	}

	&_country {
		font-weight: 600;
		padding-bottom: 10px;
		color: $darkBlue;
	}

	&_temp,
	&_humidity {
		font-weight: 600;
		color: $gray;
		@include text-card;

		&_title {
			@include texts;
		}
	}
}
