.leftDashboard {
	padding-top: 40px;
	&_header {
		display: flex;
		align-items: baseline;
		padding-left: 20px;
		&_title {
			font-size: 30px;
			font-weight: 800;
			letter-spacing: 0.5px;
		}
		&_logo {
			font-size: 40px;
			margin-right: 10px;
			color: $orange;
		}
	}
}

// Despues agregamos las partes en donde haya rutas
// O cualquier otro elemento
