// Principal
$bgLight: #ffffff;
$bgBlue: #edf1fb;
$orange: #ffbd50;
// Colors
$blue: #a2acff;
// Texts
$desaturatedBlue: #adb1cc;
$gray: #8085a0;
$darkBlue: #333866;
$fontPop: 'Poppins', sans-serif;
// Others
$radius: 25px;
